<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>
  <activerecord isDebug="true">
    <config>
      <add key="show_sql" value="true" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
      <!--ORACLE-->
      <add key="connection.driver_class" value="NHibernate.Driver.OracleClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.Oracle10gDialect" />
      <add key="connection.connection_string" value="User Id=ua_application;Password=XXXXX;Data Source=ORACLE_VM_XE_x86;" />
      <!--MySQL-->
      <!--<add key="dialect" value="NHibernate.Dialect.MySQLDialect"/>
      <add key="hbm2ddl.keywords" value="none" />
      <add key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
      <add key="connection.connection_string" value="Server=192.168.99.30; Database=mysql; User Id=root; Password=XXXXXX"/>-->
      <!--PostgreSQL-->
      <!--<add key="connection.driver_class" value="NHibernate.Driver.NpgsqlDriver" />
      <add key="dialect" value="NHibernate.Dialect.PostgreSQLDialect" />
      <add key="connection.connection_string" value="Server=192.168.99.30;database=postgres;User ID=postgres;Password=XXXXXX;" />-->
    </config>
  </activerecord>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>